.process {
  display: flex;
}
.process > * {
  margin: 5px;
  padding: 10px;
  border: 1px solid gray;
}
.red {
  font-weight: bold;
  color: red;
}
h2 {
  background: #bbb;
}
h3 {
  background: skyblue;
}
table {
  border-collapse: collapse;
}
table tr > * {
  padding: 5px 10px;
  border: 1px solid #555;
}
ul {
  padding-inline-start: 20px;
}
strong {
  display: inline-block;
  border-top: 3px dashed #333;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 30px;
  color: slateblue;
  cursor: pointer;
}
dt {
  font-weight: bold;
}
.paper {
  display: block;
}
.paper.none {
  display: none;
}
